:root
{
    /*
    // Primary colors
    */
    --cls-primary-cream: hsl(30, 38%, 92%);
    --cls-primary-violet: hsl(228, 45%, 44%);
    --cls-primary-dark-cyan: hsl(158, 36%, 37%);

    /*
    // Neutral colors
    */
    --cls-neutral-white: hsl(0, 0%, 100%);
    --cls-neutral-dark-blue: hsl(212, 21%, 14%);
    --cls-neutral-grayish-blue: hsl(228, 12%, 48%);
}


@font-face {
    font-family: 'Montserrat';
    src: url('2/Montserrat-Light.woff2') format('woff2'),
        url('2/Montserrat-Light.woff') format('woff');
    /* font-weight: 300; */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('2/Fraunces-9ptBlack.woff2') format('woff2'),
        url('2/Fraunces-9ptBlack.woff') format('woff');
    /* font-weight: 900; */
    font-style: normal;
    font-display: swap;
}




body
{
    width: 100vw;
    display: flex;
    height: 180vh;
    align-items: center;
    flex-flow: column wrap;
    background-color: var(--linen);
    background-color: var(--Cream);
    justify-content: space-around;
}

.card
{
    width: 500px;
    height: 350px;
    display: inherit;
    border-radius: 1rem;
    /*border: 1px solid black;*/
}

.card div:nth-child(1)
{
    width: 48%;
    height: 100%;
    background-size: cover;
    border-radius: 8px 0 0 8px;
    background-image: url(images/image-product-desktop.jpg);
    /*border: 1px solid crimson;*/
}

.card div:nth-child(2)
{
    width: 52%;
    height: 100%;
    padding: 20px;
    position: relative;
    border-radius: 0 8px 8px 0;
    background-color: white;
    /*border: 1px solid rgb(13, 0, 84);*/
}

.card h1
{
    margin-bottom: 12px;
    font-size: 0.8rem;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Montserrat;

}

.card h2
{
    line-height: 1.5rem;
    font-size: 1.6rem;
    font-family: Fraunces;
    padding-bottom: 18px;
}

.card p
{
    
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 12px;
    line-height: 20px;
    color: rgba(62, 61, 61, 0.9);
    font-family: Montserrat;
    
}

.normal
{
    right: 35%;
    bottom: 6rem;
    font-weight: 900;
    position: absolute;
    font-size: 0.6rem;
    color: rgb(0, 0, 0);
    text-decoration: line-through;
    font-family: Montserrat;
}

.reduction
{
    font-size: 1.5rem;
    position: absolute;
    font-weight: 900;
    color: var(--viridian);
    font-family: Fraunces;
}


.card button
{
    left: 20px;
    width: 80%;
    height: 40px;
    bottom: 1.8rem;
    border: none;
    font-size: 14px;  
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: var(--viridian);
    border-radius: 8px;
    position: absolute;
}

button span:nth-child(1)
{
    top: 5px;
    position: relative;
}

button span:nth-child(2)
{
    margin: 10px; 
}